# MetaDef
/build/
/output/
/prebuilts/
/build_gcov/
/cov/
*.ir
*.out
/.dev_env

# Dynamic libraries
# *.so
*.dylib

# Static libraries
*.la
*.lai
*.a
*.lib

# Protocol buffers
*_pb2.py
*.pb.h
*.pb.cc

# Object files
*.o

# Editor
.vscode
.idea/
cmake-build-*

# Log files
*.log
